# -------------------------
# Node.js
# -------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# -------------------------
# JetBrains IDE
# -------------------------
.idea/
*.iml
*.iws

# -------------------------
# macOS
# -------------------------
.DS_Store
.AppleDouble
.LSOverride

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# Local voices / temp files
# -------------------------
/voices/
/custom-voices/
