# -------------------------
# Node.js
# -------------------------
node_modules/
.next/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# -------------------------
# JetBrains IDE
# -------------------------
.idea/
*.iml
*.iws

# -------------------------
# macOS
# -------------------------
.DS_Store
.AppleDouble
.LSOverride

# -------------------------
# Logs
# -------------------------
logs/
*.log
.env

# -------------------------
# Local voices / temp files
# -------------------------
apps/web/voices/*
!apps/web/voices/elon.wav
!apps/web/voices/trump.wav
apps/web/custom-voices/


# -------------------------
# Application files
# -------------------------
animation-config.json
apps/web/animations/*
!apps/web/animations/elon.mov
!apps/web/animations/trump.mov
apps/web/sounds/*
apps/web/data/*.sqlite
apps/web/data/*.sqlite-shm
apps/web/data/*.sqlite-wal
apps/web/cache/
playwright-report/
test-results/
copilot-instructions.md
